{% extends "base.html" %}
{% load static %}

{% block title %}About Me{% endblock title %}
{% block body %}

<section class="about" id="about" style="padding: 90px 10% 0;">
    <h1>About <span> Me</span></h1>
    <div class="row-1">
    <div class="about_image">
     <img src="static/img/about.png" alt="bg">
    </div>
    <div class="content">
        <h3>My name is Harshada Vijay Jagade, Pre-Final Year student of Usha Mittal Institute Of Technology. I am an enthusiastic and aspiring web developer ready to embark on an exciting journey in the world of web development. </h3>
        <p>
            Through self-guided learning and hands-on projects, I have developed a solid foundation in front-end development.<br> I thrive in fast-paced environments, eagerly taking on new challenges and continuously expanding my skill set.<br> I am always open to feedback and see it as an opportunity for growth and improvement.<br>I am excited to kickstart my career and would love the opportunity to work with you on your web development needs. I am confident that I can deliver high-quality results while continuously learning and growing along the way. Please take a moment to review my portfolio, which showcases some of my projects and demonstrates my capabilities.

            I If you have any questions, project ideas, or would like to discuss potential opportunities, do reach out. I am eager to connect with industry professionals, mentors, and potential collaborators. Thank you for considering my profile, and I look forward to hearing from you!
        </p>
        <div class="box-container">
            <div class="box">
                <p><span>Gender :</span> Female</p>
                <p><span>Language :</span> English,Marathi,Hindi</p>
                <p><span>Email :</span> harshada.jagade@gmail.com</p>
                <p><span>Country :</span> India</p>
            </div>
            <div class="about_button">
            <a href="/about"class="btn-box">Download CV</a>
            <a href="/about"class="btn-box">Hire Me</a>
        </div>
        </div>
    </div>
</div> 

</section>
<section class="qualification">

  <div class="skill">
  
  <h1 style="    display: flex;
  justify-content: center;
  align-items: center;padding: 20px;">Qualification</h1>
  <div class="qualification_container">
    <div class="qualification_tab">
    
      <div class="qualification_button button--flex">
       
        <i class='bx bxs-graduation qualification_icon'></i>
        Education
      </div>
    </div>
    <div></div>
    <div class="qualification_section">
      <div class="qualification_content">
        <div class="qualification_data">
          <div>
            <h3 class="qualification_title">Computer Engineering</h3>
            <span class="qualification_subtitle">Usha Mittal Institute Of Technology</span><br>
            <span class="qualification_subtitle">CGPA-8.93</span>
            <div class="qualification_calendar">
              <i class='bx bxs-calendar' ></i>
              2021-2025
            </div>
          </div>
          <div>
            <span class="qualification_rounder"></span>
            <span class="qualification_line"></span>
          </div>
        </div>
        <!-- quali2 -->
        <div class="qualification_data">
          <div></div>
          <div>
            <span class="qualification_rounder"></span>
            <span class="qualification_line"></span>
          </div>
          <div>
            <h3 class="qualification_title">HSC</h3>
            <span class="qualification_subtitle">Anand Vishwa Gurukul,Thane</span><br>
            <span class="qualification_subtitle">Grade:85.6</span>
            <div class="qualification_calendar">
              <i class='bx bxs-calendar' ></i>
              2020-2021
            </div>
          </div>
         
        </div>
        <!-- quali 3 -->
        <div class="qualification_data">
          <!-- <div></div> -->
         
          <div>
            <h3 class="qualification_title">SSC</h3>
            <span class="qualification_subtitle">Saraswati Secondary School</span><br>
            <span class="qualification_subtitle">Grade: 91.80</span>
            <div class="qualification_calendar">
              <i class='bx bxs-calendar' ></i>
              2018-2019
            </div>
          </div>
          <div>
            <span class="qualification_rounder"></span>
            <!-- <span class="qualification_line"></span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="skills" >
  <div class="main-text">
    
    <h1 style="    display: flex;
  justify-content: center;
  align-items: center;padding: 20px;">My Skills</h1>
  </div>
  <div class="skill-main">
    <div class="skill-left">
      <h3>Frontend Skills</h3>
      <div class="skill-bar">
        <div class="info">
          <p>HTML5</p>
          <p>90%</p>
        </div>
        <div class="bar">
          <span class="html"></span>
        </div>
      </div>
      <div class="skill-bar">
        <div class="info">
          <p>CSS3</p>
          <p>75%</p>
        </div>
        <div class="bar">
          <span class="css"></span>
        </div>
      </div>
      <div class="skill-bar">
        <div class="info">
          <p>JavaScript</p>
          <p>50%</p>
        </div>
        <div class="bar">
          <span class="js"></span>
        </div>
      </div>
      <div class="skill-bar">
        <div class="info">
          <p>Figma</p>
          <p>80%</p>
        </div>
        <div class="bar">
          <span class="figma"></span>
        </div>
      </div>
    </div>
    <div class="skill-right">
      <h3>Backend Skills</h3>
      <div class="skill-bar">
        <div class="info">
          <p>C/C++</p>
          <p>90%</p>
        </div>
        <div class="bar">
          <span class="c"></span>
        </div>
      </div>
      <div class="skill-bar">
        <div class="info">
          <p>Python</p>
          <p>50%</p>
        </div>
        <div class="bar">
          <span class="python"></span>
        </div>
      </div>
      <div class="skill-bar">
        <div class="info">
          <p>DJANGO</p>
          <p>70%</p>
        </div>
        <div class="bar">
          <span class="django"></span>
        </div>
      </div>
     
      
    </div>
  </div>
    </section>

 
{% endblock body %}