{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock title %}
{% block body %}

<!-- <div class="project"style="padding: 90px 10% 0;">
    <h1 style="padding: 2rem;">Experience and Projects</h1>
<article class="blog-post" >
    
    <div class="blog-post_img">
        <img src="static/img/satvikritu.png" alt="project1" srcset="">
    </div>
    <div class="blog-post_info">
        <div class="blog-post_date">
            <span>Second Year</span>
        </div>
        <h2 class="blog-post_title">Satvik Ritu</h2>
        <p>We Promote Menstrual Well-Being Globally By Providing Accurate Information, Engaging Discussions, And Reviewing Menstrual Products. Our Goal Is To Encourage Open Conversations, Advocate For Menstrual Equity, And Create A Supportive Space For Individuals To Navigate Their Menstrual Journeys Confidently.</p>
        <a href="https://satvikritu.in/" class="blog-post_cta">View</a>
    </div>
</article>
<article class="blog-post"style="margin-top:50px;">
    <div class="blog-post_img">
        <img src="" alt="project1" srcset="">
    </div>
    <div class="blog-post_info">
        <div class="blog-post_date">
            <span>Second Year</span>
        </div>
        <h2 class="blog-post_title">Technology And Publicity Head </h2>
        <p></p>
        <a href="https://satvikritu.in/" class="blog-post_cta">View</a>
    </div>
</article>
<article class="blog-post"style="margin-top:50px;">
    <div class="blog-post_img">
        <img src="" alt="project1" srcset="">
    </div>
    <div class="blog-post_info">
        <div class="blog-post_date">
            <span>Second Year</span>
        </div>
        <h2 class="blog-post_title">Fitsure</h2>
        <p>Developed health website ,<b>Fitsure</b> to help you to be tension free and healthy ! An app for you ,to make you healthy ,happy ,fit . As said health is wealth.</p>
        <a href="https://github.com/harshadaa20/Codehers" class="blog-post_cta">View</a>
    </div>
</article>
</div> -->
<h1 style="display: flex;justify-content:center; align-items: center;">Experience and Projects</h1>
<div class="project"style="padding: 90px 10% 0;">
 
    <div class="container" >
        <div class="container1">
            <div class="front" style="background-color: bisque;border-radius: 10px;">
                <img src="static/img/b.jpeg ">
               
            </div>
            <h2 style="text-align: center;">Summer Technology Intern</h2>
            <div class="back">
                <h2 style="text-align: center;">Barclays</h2>
                <br>Worked As Summer Technology Intern at Barclays </br><span style="color: aqua;">Tech Stack: ReactJS</span></p>
                
            </div>
        </div>
        <div class="container1">
            <div class="front">
                <img src="static/img/slogo.jpg ">
               
            </div>
            <h2 style="text-align: center;">Satvik Ritu</h2>
            <div class="back">
                <h2 style="text-align: center;">Satvik Ritu</h2>
                <br>We Promote Menstrual Well-Being Globally By Providing Accurate Information, Engaging Discussions, And Reviewing Menstrual Products. </br><span style="color: aqua;">Tech Stack: WordPress</span></p>
                <a href="https://satvikritu.in/" class="blog-post_cta" >View</a>
            </div>
        </div>
        <div class="container1">
            <div class="front">
                <img src="static/img/tech.jpg">
            </div>
            <h2 style="text-align: center;">Technology And Publicity Director</h2>
            <div class="back">
                <h2 style="text-align: center;">Technology And Publicity Director</h2>
                <p>	Led a Core-team and Workforce of 15 members and a community of 75+ members.
                    Organising Study Jams, Hackathons, and Webinars.
                    </p>
                   
            </div>
            
        </div>
        <div class="container1">
            <div class="front">
                <img src="static/img/fitsure.jpg">
               
            </div>
            <h2 style="text-align: center;">Fitsure</h2>
            <div class="back">
                <h2 style="text-align: center;">Fitsure</h2>
                <p>We created health website , fitsure to help you to be tension free and healthy ! A website for you ,to make you healthy,happy,fit. </br><span style="color: aqua;">Tech Stack: Html,Css,Js</span></p>
                <a href="https://github.com/harshadaa20/Codehers" class="blog-post_cta">View</a>
            </div>
        </div>
        <div class="container1">
            <div class="front">
                <img src="static/img/raksha.png">
                
            </div>
            <h2 style="text-align: center;">Rakshini</h2>
            <div class="back">
                <h2 style="text-align: center;"> Rakshini</h2>
                <p> JP Morgan-Good For Design competition winning solution designed on <span style="color: aqua;">Figma</span>, addressing sexual abuse with an engaging and responsive approach. </p>
                <a href="https://www.figma.com/file/hHIvdmah1eilJIVMTvDLWZ/Rakshini--Raksha-against-sexual-Abuse?type=design&node-id=0-1&mode=design&t=auJ6dGtmdIMuuQk9-0" class="blog-post_cta">View</a>
            </div>
        </div>
    </div>
  

</div>
{% endblock body %}